#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#profile {
    display: grid;
    grid-template-columns: 100px auto;
    column-gap: 15px;
    margin-bottom: 15px;
}

#profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pfp {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

#name_break {
    display: none;
}

#description {
    margin-bottom: 0;
}

#socials {
    height: 25px;
    margin-bottom: 15px;
    scroll-margin-top: 70px;
}

#socials a,
#socials button {
    position: relative;
    display: inline-block;
    height: inherit;
    margin-left: 10px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 0;
    color: inherit;
    transition: top ease 0.1s;
}

#socials a:first-child,
#socials button:first-child {
    margin-left: 0;
}

#socials a:hover,
#socials button:hover {
    top: -2px;
}

#socials img {
    height: inherit;
}

@media screen and (max-width: 600px) {
    #name_break {
        display: block;
    }

    #socials {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #socials a:first-child,
    #socials button:first-child {
        margin-left: 3px;
    }
}
