#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* rework profile dumpfire with grid */

#profile {
    max-width: 75%;
    height: 100px;

    margin-bottom: 15px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;    
}

#pfp {
    height: 100px;
    width: 100px;
    margin-right: 15px;

    border-radius: 50%;
    object-fit: cover;
}

#name_break{
    display: none;
}

#description {
    margin-bottom: 0;
}



#socials {
    height: 25px;
    margin-bottom: 15px;
}

#socials img {
    position: relative;
    height: inherit;
    margin-left: 10px;

    transition: top ease 0.1s;
}

#socials img:first-child {
    margin-left: 0;
}

#socials img:hover {
    top: -2px;
}





@media screen and (max-width: 600px) {
    #profile {
        max-width: 100%;
        height: auto;

        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    #profile > .flex-spacer {
        display: none;
    }
    
    #name_break{
        display: block;
    }


    #socials {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #socials img:first-child {
        margin-left: 3px;
    }
}