#popup {
    border: none;
    border-radius: 15px;
    background: #1f1f1f;
    color: white;
    padding: 10px;
    min-width: 100px;
}

#popup::backdrop {
    background: rgba(255, 255, 255, 0.4);
}

.popup_header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.popup_title {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 700;
}

.popup_content {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#popup_email_field {
    width: 26ch;
    background-color: #2f2f2f;
    outline-color: white;
    border: none;
    border-bottom: 1px solid #888;
    margin-right: 10px;
    color: #fff;
    padding: 6px;
    font-size: 16px;
}
